:root {
    --bg-dark: #1a1a1a;
    --primary-orange: #FFAE00;
    --card-beige: #FAE8B8;
    --hover-yellow: #E6C933;
}

body {
    font-family: 'Inter', Arial, sans-serif;
    background-color: var(--bg-dark);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; /* should remove the horizontal scrollbar*/
    padding-top: 85px;
    padding-bottom: 65px;
}



.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    padding: 5px 10px 5px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;    /* makes it stays on top of everything else*/
}
.menu-title {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.cart-btn {
    padding: 8px;
    background: none;
    border: none;
    cursor: pointer;
    width: 45px;
}
.cart-icon {
    width: 45px;
    transition: content 0.25s;
}
.cart-btn:hover .cart-icon {
    content: url('./Images/Hover_cart_icon.svg');
}



.main-content {
    flex-grow: 1;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.section-title{
    font-size: 24px;
    color: white;
    text-align: center;
}

.product-card {
    background-color: white;
    width: 100%;
    max-width: 370px;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    height: 290px;
}
.card-header-image {
    position: relative;
    flex-grow: 1; 
    padding: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.main-image{
    width: 100%;
    height: 100%;
    max-height: 235px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}
.graphic-container {
    position: absolute;
    top: 5px;
    right: 5px;
}
.allergen{
    width: 35px;
}

.card-footer {
    background-color: var(--card-beige);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    height: 55px;
}
.product-name {
    font-size: 24px;
    font-weight: 600;
    padding: 5px;
    margin: 0px;
}
.product-price {
    font-size: 22px;
    font-weight: 600;
    margin: 5px;
}
.add-to-cart-btn {
    background-color: var(--primary-orange);
    color: var(--text-black);
    font-size: 24px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    height: 50px;
}
.add-to-cart-btn:hover {
    background-color: var(--hover-yellow);
}


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;    /* makes it stays on top of everything else*/
}



/*Description HTML page*/
.description-content{
    flex-grow: 1;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    gap: 40px;
}

.description-card{
    background-color: var(--card-beige);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    height: 550px;
}
.description-graphic-container {
    display: flex;
    justify-content: space-between;
    position: absolute; 
    top: 5px;
    left: 5px; 
    right: 5px;
    padding: 5px; 
    width: auto;
}
.description-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.description-footer{
    background-color: var(--card-beige);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
    height: 100px;
}
.description-info {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 5px;
}
.product-description {
    font-size: 16px;
    margin-bottom: 15px;
    padding: 15px;
}
.nutrition-data table {
    margin: 10px auto 10px auto; 
    border-collapse: collapse;
    border: 5px solid black;
}
.nutrition-data td {
    border: 5px solid black;
    padding: 5px 15px;
    text-align: left;
    font-weight: bold;
}

.big-add-to-cart-btn{
    width: 100%;
    padding: 15px 20px;
    background-color: var(--primary-orange);
    color: black;
    font-size: 48px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}
.big-add-to-cart-btn:hover{
    background-color: var(--hover-yellow);
}
/* Arrow styling */
.arrow-btn {
    padding: 8px;
    background: none;
    border: none;
    cursor: pointer;
    width: 45px;
}
.arrow-icon {
    width: 45px;
    transition: content 0.25s;
}
.arrow-btn:hover .arrow-icon {
    content: url('./Images/Hover_left_arrow.svg');
}


/* Cart HTML page */
.cart-list {
    background-color: #000;
    width: 100%;
}
/* Single item styling */
.cart-item {
    display: flex;
    padding: 2px;
}
.card-image {
    height: 80px;
    width: 25%;
    padding: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-shrink: 0;
    background-color: black;
}
.item-image{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

/* Container Name/Price */
.item-details {
    display: flex;
    flex-direction: column;
    background-color: var(--card-beige);
    padding: 10px 15px;
    height: 60px;
    justify-content: center;
    width: 45%;
}
.item-name {
    font-weight: 700;
    font-size: 24px;
    color: black;
    margin: 0;
}
.item-price {
    font-size: 18px;
    font-weight:600;
    color: black;
    margin: 0;
}

/* Styling quantity */
.item-quantity {
    background-color: var(--card-beige);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60px;
    width: 30%;
}
.item-pieces {
    font-weight:600;
    font-size: 24px;
    color: black;
    margin: 0;
}
.item-total {
    font-size: 18px;
    font-weight:600;
    color: black;
    margin: 0;
}

/* Order Options */
.order-options {
    background-color: var(--bg-dark);
    padding: 10px;
    color: white;
}
.order-section{
    display: flex;
    justify-content: space-between;
}
.order-text{
    font-size: 18px;
    font-weight:600;
}

#restaurant-select {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    margin-bottom: 15px;
    background-color: var(--primary-orange);
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.big-order-btn{
    width: 100%;
    padding: 15px 20px;
    background-color: var(--primary-orange);
    color: black;
    font-size: 48px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}
.big-order-btn:hover{
    background-color: var(--hover-yellow);
}


@media (min-width: 1024px) {
    .main-content {
        max-width: 1200px;
        padding: 40px;
        display: grid;
        gap: 60px;
    }
    .product-card {
        max-width: 700px;
    }
    .menu-title {
        font-size: 40px;
    }
    .add-to-cart-btn {
        font-size: 20px;
    }
}